.nav-button{
    background-color: rgb(33, 182, 241);
    color: white;
    font-weight: bold;
    font-size: 15px;
    padding:5px 20px 5px 20px;
    border: transparent;
    border-radius: 20px;
    height: 2rem;
    margin-top: 12px;
    font-family: 'Times New Roman', Times;
}