.nav-button{
    background-color: rgb(33, 182, 241);
    color: white;
    font-weight: bold;
    font-size: 15px;
    padding:5px 20px 5px 20px;
    border: transparent;
    border-radius: 20px;
    height: 2rem;
    margin-top: 12px;
    font-family: 'Times New Roman', Times;
}

.w-button{
background: rgb(19,6,138);
color: white;
font-size: 20px;
width: 20%;
font-weight: bold;
border-radius: 10px;
}

.w-button-outlined{
    background: transparent;
    color: rgb(19, 6, 138);;
    font-size: 20px;
    width: 20%;
    font-weight: bold;
    border-radius: 10px;
    border: 2px solid rgb(19, 6, 138);;
}